In [ ]:
pip install pandas

In [4]:
import pandas as pd

df = pd.read_csv("S:/SE4AI/Cat-5/test/_annotations.csv")
df.head(5)

,filename,width,height,class,xmin,ymin,xmax,ymax
0,Birman_64_jpg.rf.e2d2cd20d1f68ffd99dae7ada54bd...,640,640,Birman,78,0,578,640
1,Siamese_130_jpg.rf.b39d956e388faa55b4ab44a2fde...,640,640,Siamese,29,77,630,615
2,Abyssinian0000_jpg.rf.d0010b7ce113edf3ad3c0841...,640,640,Abyssinian,114,58,542,512
3,Bengal_22_jpg.rf.86263c35eac5a93eb4a6501fbd8ca...,640,640,Bengal,0,201,475,565
4,Oriental_19_jpg.rf.ce7b4082eff8cc9bd01f3987815...,640,640,Oriental,0,0,639,586